* {
    margin: 0;
    padding: 0;
}
:root{
    --mainColor:#545BE8;
    --mainFont: "Poppins", sans-serif;
    --subFont: "Inter", sans-serif;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
.container{
    width:calc(100% - 120px);
    margin:auto;
}
.row{
    display : flex;
    justify-content:center;
    flex-wrap: wrap;
    

}