@import './base.css';

body {
    height: 1500px;
    background-color: #eee7e71f;

}
/*loader---------------------------*/
.loader-container{
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(85, 83, 83, 0.103);
    position: fixed;

}
.active{
    display:flex;
}
.loader{
    width: 50px;
    height: 50px;
    border:#000000 2px solid;
    border-radius:50%;
border-bottom-color:transparent ;
    animation: rotate 2s infinite linear;

}
@keyframes rotate{
    0%{
        transform:rotate(0deg);


    }
    100%{
        transform:rotate(360deg);

    }
}
/*header---------------------------*/
.header {
    background-color: #eee7e7e1;
    padding: 10px;
    box-shadow: 3px -5px 20px 0px #a19f9f;
    position: sticky;
    top: 0;
    z-index: 100;

}

.nav ul li,
.bttn-menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;


}

.nav ul li a {
    font-size: large;
    font-weight: bold;
    color: black;
}

.scroll-nav{
    background-color: rgba(0, 0, 0, 0.445);
}
/*categories---------------------------*/

.categories {
    margin: 30px;
}
.category {
    background-color: #e2dfec9f;
    padding: 10px;
    margin: 10px;
    box-shadow: 5px 10px 15px 0px rgba(0, 0, 0, 0.3);
    width: 20%;
    text-align: center;


}

/*proudcts---------------------------*/
.allProducts {
    text-align: center;
    margin: 5px;
}

.allProducts a {
    color: #000000;
    width: 20px;
    background-color: #bbb9b9;
    box-shadow: 5px 10px 15px 0px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 10px;
    font-weight: 900;

}

.products {
    display: flex;
    flex-wrap: wrap;

}

.product {

    padding: 10px;
    margin: 10px;
    border: 2px black solid;
    width: 20%;
    text-align: center;

}

.products .row {
    justify-content: center;
    gap: 50px;
}


img {
    width: 200px;
    height: 150px;
}

.price {
    font-weight: bold;

}

.product:hover,
.category:hover
{
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(15, 13, 13, 0.2);
}